<div class="modal-header">
    <h4 class="modal-title">{{t 'assign-students.assign-assessment-modal-title'}}</h4>
</div>
<div class="modal-body">
  {{gru-assign-students students=model.students assignment=model.collection onCloseModal='closeModal'}}
</div>
