.qz-player-footer {
  /*mobile view portrait*/
  @media only screen and (max-width: $sm-width-max) {
    .nav-player-container {
      .player-container {
        .player-info {
          .current-resource-info {
            .resource-title {
              span {
                width: 85px;
              }
            }
          }
        }
      }
    }
  }
  /*mobile view landscape and portrait*/
  @media only screen and (max-width: $screen-sm - 1) {
    .nav-player-container {
      grid-template-columns: 40px 1fr 40px;

      .prev {
        i {
          margin-left: -108px;
        }

        span {
          display: none;
        }
      }

      .player-container {
        grid-template-columns: 1fr 50px 40px 40px;

        .list-resource-nav {
          i {
            margin-left: -66px;
          }
        }

        .reaction-bar {
          width: 50px;
          margin-right: 0;
          border-left: 1px solid $breadcrumb-color;
        }

        .list-resources {
          width: 80%;
        }
      }

      .next-action {
        .next {
          .label {
            display: none;
          }
        }

        .submit-all,
        .usage-report {
          span {
            display: none;
          }

          span.icon {
            display: block;
          }
        }
      }
    }
  }
}
