.qz-resource-viewer {
  @media only screen and (max-width: $screen-xs) {
    .qz-resource-viewer-panel {
      .narration {
        height: 100px;

        .panel-body {
          display: flex;
          height: 100%;
          overflow-y: auto;
        }
      }

      &.has-narration {
        .qz-preview-url {
          height: calc(100% - 160px);
        }

        .not-iframe {
          height: calc(100% - 120px);
        }
      }

      .qz-preview-url {
        height: calc(100% - 40px);
      }
    }
  }
}
