.qz-player {
  .player {
    .qz-main {
      min-height: 100%;

      .qz-viewer {
        .resource {
          .qz-resource-viewer {
            .qz-resource-viewer-panel {
              .qz-preview-url {
                height: 100%;
              }

              .qz-youtube-resource {
                iframe {
                  height: 100% !important;
                }
              }

              .not-iframe {
                height: 100%;
              }
            }
          }
        }
      }

      &.suggest-content {
        .qz-viewer {
          .resource {
            .qz-resource-viewer {
              .qz-resource-viewer-panel {
                &.has-narration {
                  .qz-preview-url {
                    height: calc(100% - 160px);
                  }

                  .qz-youtube-resource {
                    iframe {
                      height: calc(100% - 160px) !important;
                    }
                  }

                  .not-iframe {
                    height: calc(100% - 160px);
                  }
                }

                .qz-preview-url {
                  height: calc(100% - 40px);
                }

                .qz-youtube-resource {
                  iframe {
                    height: calc(100% - 40px) !important;
                  }
                }

                .not-iframe {
                  height: calc(100% - 40px);
                }
              }
            }
          }
        }
      }
    }
  }
}

.study-player.fullscreen {
  .container-fluid {
    .player-container {
      .qz-player {
        .player {
          .qz-main {
            &.suggest-content {
              .qz-viewer {
                .resource {
                  .qz-resource-viewer {
                    .qz-youtube-resource {
                      height: 100% !important;
                    }
                    .qz-resource-viewer-panel {
                      &.has-narration {
                        .qz-preview-url {
                          height: 100%;

                          .preview {
                            iframe {
                              height: calc(100% - 40px);
                            }
                          }
                        }
                        .not-iframe {
                          height: calc(100% - 120px);
                        }
                      }
                      .qz-youtube-resource {
                        iframe {
                          height: calc(100% - 40px) !important;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
