
{{ reports.class-assessment.gru-summary
  reportData=reportData
  onSelectQuestion=(action 'viewQuestionDetail')
}}

<div class="view-container {{if isTableView 'student-view' 'table-view'}}">

  {{gru-view-layout-picker onViewLayoutChange='changeView'}}

</div>
