<div class="controller class analytics collection student">
  <div class="row">
    <div class="col-sm-12">
      {{#if attemptData}}
        {{reports.gru-assessment-report
          showAttempts=false
          areAnswersHidden=false
          isAnswerKeyHidden=isAnswerKeyHidden
          contextResult=contextResult
        }}
      {{/if}}
    </div>
  </div>
</div>
