<ul>
  {{#each answers as |answer index|}}
    <li>
      <span class="{{if answer.correct 'correct' 'incorrect'}} {{if anonymous 'anonymous'}}">{{answer.selectedOrderText}}</span>
      {{!-- {{#if showCorrect}} --}}
      {{#if (eq answer.showCorrect true) }}
        <span class="answer-text">{{{gru-math-text text=answer.text}}}</span>
      {{/if}}
    </li>
  {{/each}}
</ul>