<div class="controller class analytics collection student">
  <div class="row">
    <div class="col-sm-12">
      {{#if attemptData}}
        {{reports.gru-assessment-report
          areAnswersHidden=false
          isAnswerKeyHidden=false
          contextResult=contextResult
        }}
      {{/if}}
    </div>
  </div>
</div>
