.gru-assignments-list{
  .out-of-scope{
    display: none;
  }
  .header{
    .search{
      .search-navigation{
        margin: 10px 32px;
        input{
          outline: none;
          width: 315px;
        }
        .search-icon{
          position: absolute;
          left: 17px;
        }
      }
    }
    .views{
      button{
        margin-top: 10px;

        &.standards-btn{
          padding: 7px 16px;
        }
      }
      .options{

        @media (min-width: $screen-sm) {
          float: right;
        }
        .btn-group{
          i{
            font-size: 24px;
          }
        }
      }
    }
  }
  .assignments-list-container{
    margin-top: 20px;
    height:555px;
    @include flexbox;
    .assignments-list{
      padding-right: 0px;
      max-height:555px;
      overflow-y: scroll;
      width: 100%;
    }
    .assignments-info{
      margin-left: 10px;
      width: 40%;
      height: inherit;
    }
  }
}
