<div class="content">
{{#if showReactButton}}
  <div class="reaction-bar col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        {{qz-emotion-picker startEmotion=ratingScore onChangeEmotion="changeEmotion" readOnly=submitted}}
      </div>
    </div>
  </div>
{{/if}}
</div>
