<div class="content">
    <div class="navigation-bar hidden-md hidden-lg">
      <span {{action 'openNavigator'}}>
        {{gru-icon name='keyboard_arrow_down'}} <h5>{{t  "common.menu"}}</h5>
      </span>
    </div>
</div>
