.player {
  overflow: hidden;
  height: 100%;
  .gru-header,
  .gru-footer {
    display: none;
  }

  > .ember-view,
  .quizzes,
  .app-container,
  .qz-player {
    height: 100%;
    background-color: $body-bg;
  }

  .app-container {
    margin: 0;
    padding: 0;
    position: relative;

    .aside {
      @include flex-shrink(0);
      height: 100%;
      min-height: 400px;
      background: #EEEEEE;
      width: 260px;
      @include translate-hide(-100%);
      @include position(absolute, 0, null, 0, 0);
      z-index: 20;

      @media (min-width: $screen-md) {
        @include translate-show();
        position: static;
      }
    }

    &.navigator-on .aside {
      @include translate-show();
    }

    .main {
      @include flexbox;
      @include flex-direction(column);
      height: 100%;
      min-height: 400px;
    }
  }
}
