.player .qz-viewer {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-between);
  height: 100%;
  overflow-y: scroll;
  margin: 0 0 15px 15px;

  .narration {
    margin-top: 0;
    margin-bottom: 15px;
    max-width: 904px;
    @media (max-width: $screen-sm-max) {
      margin-top: 30px;
    }
    @media (max-width: $screen-xs-max) {
      margin-top: 0;
    }
    .panel-body {
      padding: 10px 15px;
    }
    span {
      display: table-cell;
      vertical-align: middle;
    }
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  .qz-content {
    width: 100%;
    padding:0;
    .avatar {
      text-align: center;
      padding-right: 15px;
      img {
        width: $narration-avatar-width;
        height: $narration-avatar-height;
        border-radius: $narration-avatar-height;
        margin: 0 auto;
        display: block;
      }
      .user {
        font-size: $font-size-small;
        display: block;
      }
    }
    .message {
      * {
        font-size: $font-size-base!important;
      }
    }
  }
  .qz-content.question{
    height: auto;
  }
  .qz-content.resource{
    height: 85%;
  }

  .actions-section{
    height: 50px;
    margin:10px 20px;
  }
  .btn.previous {
    border-radius: 15px;
    border: 1px solid $light-500;
    color: $blue-500;
    background-color: $white;
  }
}
