.qz-player-confirmation {
  .confirmation-panel {
    width: 499px;
    height: 458px;
    border-radius: 4px;
    background-color: $white;
    box-shadow: 0 2px 13px 6px $heathered-gray;
    &.suggested-content {
      box-shadow: 0 2px 13px 6px $orange-400;
    }
    .header {
      height: 161px;
      border-bottom: 1px solid $nobel-gray;
      display: flex;

      .thumbnail {
        width: 247px;
        height: 161px;
        object-fit: contain;
        background-color: transparent;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .collection-info {
        width: 247px;
        .content-info {
          display: flex;
          height: 60px;
          padding: 15px 0 0 15px;
          .content-count {
            width: 50px;
            .icon {
              height: 17px;
              width: 17px;
              display: block;
              background-size: cover;
              background-repeat: no-repeat;
              margin-right: 9px;
            }
            .question,
            .resource {
              display: flex;
              line-height: 17px;
              margin-bottom: 5px;
            }
            .question .icon {
              background-image: url("gooru/images/add_question.svg");
            }
            .resource .icon {
              background-image: url("gooru/images/add_resource_icon.svg");
            }
          }

          .taxonomy {
            .gru-taxonomy-tag-list {
              .gru-taxonomy-tag {
                background-color: $dark-400;
                .standard-tag {
                  .tag-label,
                  .tag-caption {
                    color: $white;
                  }
                  .tag-caption {
                    opacity: 0.7;
                  }
                }
              }
            }
          }
        }

        .description {
          $font-size: 13px;
          $line-height: 1.6;
          $lines-to-show: 4;
          color: $dark-400;
          padding: 0 15px;
          @include ellipsis($font-size: $font-size, $line-height: $line-height, $lines-to-show: $lines-to-show);
        }
      }
    }

    .suggestion-icon {
      margin-left: 218px;
      i {
        font-size: 54px;
        margin-top: -25px;
        background-color: white;
        border-radius: 50%;
        color: $orange-400;
        border: 2px solid $white;
      }
      .teacher_suggestions {
        position: relative;
        background-image: url("gooru/images/account-cirlce-orange.svg");
        width: 54px;
        height: 54px;
        background-size: 54px;
        color: $orange-400;
        display: block;
        border-radius: 50%;
        background-color: $white;
        margin-top: -29px;
        border: 2px solid $white;
      }
    }

    .body {
      height: 215px;
      .title-info {
        height: 123px;
        padding: 0 30px;
        text-align: center;

        .info,
        .note {
          font-size: 13px;
          color: $gray;

          &.normal-content {
            margin-top: 15px;
          }
        }

        .title {
          $font-size: 34px;
          $line-height: 1.09;
          $lines-to-show: 2;
          color: $dark-500;
          @include ellipsis($font-size: $font-size, $line-height: $line-height, $lines-to-show: $lines-to-show);
        }
      }
      .action-info {
        display: flex;
        height: 85px;
        .navigation,
        .attempts {
          width: 50%;
          text-align: center;

          .info {
            font-size: 13px;
            line-height: 1.15;
            text-align: center;
            color: $gray;

            &.unlimited,
            &.no-more {
              margin-top: 52px;
            }
          }
        }
        .navigation {
          padding-left: 41px;
          padding-right: 21px;
          .direction {
            i {
              font-size: 45px;
              color: $dark-400;
            }
          }
        }
        .attempts {
          padding-right: 41px;
          padding-left: 37px;
          .attempt {
            font-size: 28px;
            color: $dark-400;
          }
        }
      }
    }

    .footer {
      display: flex;
      .cancel,
      .start {
        width: 76px;
        height: 36px;
        border-radius: 3px;
        text-align: center;
        line-height: 36px;
        cursor: pointer;
      }
      .cancel {
        background-color: $light-200;
        color: $elephant-dark;
        margin-left: 164px;
        margin-right: 20px;
      }
      .start {
        background-color: $orange-400;
        color: $white;
      }
    }
  }
}
