.qz-resource-navigator {
  overflow-x: hidden;
  width: 65px;
  min-height: 86vh;
  max-height: 86vh;
  background-color: $dark-400;
  transition: width 0.5s;

  .navigator-header {
    width: 100%;
    min-height: 105px;
    color: $white;
  }

  .course-map {
    text-align: center;
    color: #fff;
    background: #48a5ed;
    height: 50px;
    width: inherit;
    cursor: pointer;

    span {
      position: relative;
      top: 15px;
    }
  }

  .course-map-play-icon {
    font-size: 40px;
    position: relative;
    left: -111px;
    top: 6px;
  }

  .back-to-collection {
    height: 50px;
    background-color: #555e65;
    cursor: pointer;

    h6 {
      color: #fff;
      float: left;
      position: relative;
      top: 6px;
    }

    i {
      font-size: 40px;
      color: #fff;
      width: 65px;
      height: 50px;
      position: relative;
      left: -111px;
      top: 6px;
      float: left;
    }
  }

  .on-slide-open {
    visibility: hidden;
  }

  .on-slide-close {
    visibility: visible;
  }

  &:hover {
    .on-slide-open {
      visibility: visible;
    }

    .on-slide-close {
      visibility: hidden;
    }

    .course-map-play-icon {
      display: none;
    }
    width: 260px;
  }
}
