.related-content {
  position: fixed;
  bottom: -384px;
  max-height: 480px;
  right: 137px;
  z-index: 1;

  .related-content-tabs {
    height: 45px;
    padding: 0;
    overflow: visible;

    .related-content-tab {
      width: 200px;
      height: 45px;
      overflow: hidden;
      float: right;
      margin-right: 50px;
      cursor: pointer;

      .tab-info {
        position: absolute;
        z-index: 2;
        margin-left: 35px;
        margin-top: 16px;
        color: $white;
        display: flex;

        i {
          margin-left: 10px;
        }
      }

      .related-content-tab-box {
        height: 50px;
        background: $dark-600;
        border-radius: 4px;
        margin: 0 10px;
        box-shadow: 0 0 2px $dark-600 inset;
        -webkit-transform: perspective(100px) rotateX(30deg);
        -moz-transform: perspective(100px) rotateX(30deg);
      }
    }
  }

  .related-content-body {
    z-index: 1;
    max-height: 435px;
    background: $dark-600;
    position: relative;
    overflow: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;

    .resource-cards {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 45px;
      width: 792px;
      margin: 0 auto;
      display: grid;
      align-items: center;
    }
  }
}
