.editor.assessment.gru-preview-url{
  height: 80%;
  .preview{
    width: 620px;
    overdflow-x:auto;
    height: 100%;
    iframe {
     width: inherit;
   }
  }
  .preview.show-legend{
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    color:$gray-light;
    border: 2px dashed $gray-light;
  }
}
