<div class="actions">
  {{#each footerActions as |action|}}
      <button class="btn btn-default btn-icon {{action.class}} {{action.name}}" title="{{action.text}}">{{action.text}}</button>
  {{/each}}
</div>
