<div class="controller player">
  {{#unless showReport}}
    <div class="aside">
      {{player.gru-navigator
      isNavigationDisabled=isNavigationDisabled
      isTeacher=isTeacher
      submitted=assessmentResult.submitted
      collection=collection
      selectedResourceId=resourceId
      resourceResults=resourcesPlayer
      onClosePlayer="closePlayer"
      onItemSelected="selectNavigatorItem"
      onCloseNavigator="closeNavigator"
      onFinishCollection="finishCollection"
      }}
    </div>
  {{/unless}}
</div>
