<div class="controller player">
  <div class="main" role="main">
    {{#if collection.hasResources }}
      {{player.gru-navigation
      collection=collection
      submitted=assessmentResult.submitted
      ratingScore=resourceResult.reaction
      onFinishCollection="finishCollection"
      onOpenNavigator="openNavigator"
      onChangeEmotion="changeEmotion"
      notifyingRealTime=notifyingRealTime
      isTeacher=isTeacher
      hasContext=hasContext
      }}

      {{#if resource}}
        {{player.gru-viewer
        submitted=assessmentResult.submitted
        resource=resource
        resourceResult=resourceResult
        collection=collection
        onSubmitQuestion="submitQuestion"
        isNotIframeUrl=isNotIframeUrl
        hasContext=hasContext
        role=role}}
      {{/if}}
    {{else}}
      {{! TODO add the not found component here}}
    {{/if}}
  </div>
  {{#unless showReport}}
    <div class="aside">
      {{player.gru-navigator
      isNavigationDisabled=isNavigationDisabled
      isTeacher=isTeacher
      submitted=assessmentResult.submitted
      collection=collection
      selectedResourceId=resourceId
      resourceResults=resourcesPlayer
      onItemSelected="selectNavigatorItem"
      onCloseNavigator="closeNavigator"
      onFinishCollection="finishCollection"
      }}
    </div>
  {{/unless}}
</div>
